header.header
  div.container
    h1.logo My Website
    nav.navigation
      ul.menu
        li.menu-item: a(href="/") Home
        li.menu-item: a(href="#") About
        li.menu-item: a(href="#") Contact