/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header Styles */
  .header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .header .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo {
    font-size: 1.5rem;
  }
  
  .navigation {
    margin: 0;
    padding: 0;
  }
  
  .navigation .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation .menu-item {
    margin-left: 20px;
  }
  
  .navigation .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navigation .menu-item a:hover {
    text-decoration: underline;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .header .container,
    .footer .container {
      flex-direction: column;
      text-align: center;
    }
  
    .navigation .menu {
      flex-direction: column;
    }
  
    .navigation .menu-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navigation .menu-item:last-child {
      margin-bottom: 0;
    }

    
  }
  
  /* Page Styles */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-weight: bold;
    margin: 0;
  }
  
  .username {
    color: #555;
  }

  /* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  